---
name: 'Terraform-CI'

on:  # yamllint disable-line rule:truthy
  pull_request:

permissions:
  id-token: write  # This is required for requesting the JWT
  contents: read

concurrency:
  group: aws-control
  cancel-in-progress: false

jobs:
  terraform:
    name: 'Terraform Test (${{ matrix.terraform }})'
    runs-on: ["self-hosted", "Linux", "noble"]
    timeout-minutes: 240  # four hours
    strategy:
      fail-fast: false
      matrix:
        terraform: ['1.5.7', 'latest']
    env:
      ROLE_ARN: "arn:aws:iam::303467602807:role/pypiserver-tester"
      SESSION_NAME: "${{ github.event.repository.name }}-${{ github.workflow }}-${{ github.run_id }}"

    # Use the Bash shell regardless whether the GitHub Actions runner
    # is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash -o pipefail {0}

    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ env.ROLE_ARN }}
          role-session-name: ${{ env.SESSION_NAME }}
          aws-region: "us-west-2"
          role-duration-seconds: 28800  # eight hours

      # Install Terraform CLI
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      # Prepare Python environment
      - name: Setup Python Environment
        run: make bootstrap

      # Run all required linters
      - name: Code Style Check
        run: make lint

      # Generates an execution plan for Terraform
      - name: Terraform Tests
        run: make test